<h1>Stupid Coaching</h1>
<p> <%= @question %> </p>
<p>-You</p>
<!-- <p> The answer: I don't know it.</p> -->
<div class="answer">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<%= link_to 'Add another question', 'ask' %>
